<!DOCTYPE html>
<html ng-app="todoApp">
<head lang="en">
    <meta charset="UTF-8">
    <title>Simple ToDo application</title>
    <!-- build:css css/style.css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <!-- endbuild -->
    <!-- build:js js/code.js -->
    <script type="text/javascript" src="bower_components/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="bower_components/angular/angular.js"></script>
    <script type="text/javascript" src="app/js/app.js"></script>
    <!-- endbuild -->
</head>
<body ng-controller="TasksCtrl">
<div class="container">

    <div class="row">
        <form class="form" name="addTaskForm">
            <div class="col-md-5 col-md-offset-3">
                <div class="form-group">
                    <input type="text" class="form-control" ng-model="taskName" maxlength="5d0" autofocus>
                </div>
            </div>
            <div class="col-md-1">
                <button class="btn btn-success btn-block" ng-click="addTask()">
                    <i class="fa fa-plus"></i>
                </button>
            </div>
        </form>
    </div>

    <div class="row">
        <div ng-repeat="task in tasks">
            <div class="col-md-5 col-md-offset-3">
                <h4 ng-class="{'task': task.completed === 'false', 'task-completed': task.completed === 'true'}">{{task.title}}</h4>
            </div>
            <div class="col-md-1 text-right">
                <i class="fa fa-check fa-2x" ng-class="{'icon-complete-grey': task.completed === 'false', 'icon-complete-green': task.completed === 'true'}" ng-click="toggleCompleted($index)"></i><i class="fa fa-times fa-2x icon-remove-red" ng-click="removeTask($index)"></i>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            {{(tasks | filter: {completed: 'true'}).length}} of {{tasks.length}} task<span ng-show="tasks.length !== 1">s</span> completed.
        </div>
    </div>

</div>

</body>
</html>
