.row {
    padding-top: 50px;
}

.task {
    text-decoration: none;
    color: #000000;
}

.task-completed {
    text-decoration: line-through;
    color: #cccccc;
}

.icon-complete-grey {
    color: #cccccc;
    padding-right: 15px;
    cursor: pointer;
}

.icon-complete-green {
    color: #5cb85c;
    padding-right: 15px;
    cursor: pointer;
}

.icon-remove-red {
    color: #c9302c;
    cursor: pointer;
}
